@font-face {
    font-family: 'Liberation';
    src: url('../fonts/liberation_mono/LiberationMono-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/fira_code/FiraCode-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}